@using AppReadyGo.Helpers;
@using AppReadyGo.Models.Account;
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Change Password }
@section header { }
<section id="content">
    <div class="content-wrapper">

        <div class="form-wrapper">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" }))
        {
            <h2>Change Password</h2>
            <p>New passwords are required to be a minimum of 7 characters in length.</p>
	        <p>
		        @Html.LabelFor(m => m.OldPassword)<br>
		        @Html.PasswordFor(m => m.OldPassword, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "error" })
	        </p>
            <p>
                @Html.LabelFor(m => m.NewPassword)<br> 
                @Html.PasswordFor(m => m.NewPassword, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "error" })
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmPassword)<br> 
                @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "error" })
                @Html.ValidationSummary(true, null, new { @class = "error" })
            </p>
	        <p class="submit">
		        <input type="submit" value="Change Password" class="button green medium"/>
	        </p>
            <div class="clear"></div>
        }
        </div>
    </div><!-- /.content-wrapper --> 
    <p class="clear"></p>
</section><!-- /#content --> 

@*<asp:Content ID="HeaderContent" ContentPlaceHolderID="HeaderContent" runat="server">
    <link rel="stylesheet" href="<%: Url.Content("~/Content/template/css/form.css") %>" type="text/css" media="all">
    <link rel="stylesheet" href="<%: Url.Content("~/Content/template/css/secure.change.password.css") %>" type="text/css" media="all">
</asp:Content>*@


