@model AppReadyGo.Models.Account.RegisterModel
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { Register }
@section header { }
<section id="content">
    <div class="content-wrapper">
        <article class="center">
            <div class="form-wrapper">
            <h2>Sign Up, Free</h2>
            @using (Html.BeginForm()) 
            {
                <p class="desc">Passwords are required to be a minimum of 7 characters in length.</p>
                <p>
                    @Html.LabelFor(m => m.Email)<br> 
                    @Html.TextBoxFor(m => m.Email, new { autocomplete="off" })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(m => m.Password)<br> 
                    @Html.PasswordFor(m => m.Password, new { autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(m => m.ConfirmPassword)<br> 
                    @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "error" })
                    @Html.ValidationSummary(true, null, new { @class = "error" })
                </p>
	            <p class="submit">
                    <input type="submit" value="Register" class="button green medium" id="btn_register"/>
                </p>
            }
            </div>
        </article>
    </div>
</section>