@model AppReadyGo.Models.Account.LogOnModel
<div class="form-wrapper">
    @using (Html.BeginForm()) 
    {
	    <p>
		    @Html.LabelFor(m => m.UserName)<br>
		    @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "error" })
	    </p>
	    <p>
		    @Html.LabelFor(m => m.Password)<br>
		    @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error" })
            @Html.ValidationSummary(true, null, new { @class = "error" })
	    </p>
	    <p class="forgetmenot"><label for="RememberMe">@Html.CheckBoxFor(m => m.RememberMe) Remember Me</label></p>
        <p class="forgot-pass">@Html.ActionLink("Forgot Password ?", "ForgotPassword")</p>
	    <p class="submit">
		    <input type="submit" value="Log in" class="button green medium" id="btn_login"/> or @Html.ActionLink("Register", "Register")
	    </p>
        <div class="clear"></div>
    }
</div>
