@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Pages.Application;
@model ApplicationEditModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Edit Application }
@section header { }
<div class="crumb">
    <div class="border-right">
		<div class="border-left">
			<div class="inner">
                <ul>
		           <li><a href="/Application"><h4>Dashboard</h4></a></li>
		           <li><h4>@Model.Name</h4></li>
		        </ul>
			</div>
		</div>
    </div>
</div>
<div style="clear:both;"></div>
<style>
    form p {clear:both;}
    .form-wrapper form p img{float: left;margin-right:10px;max-width:50px}
</style>
<div class="content-wrapper">
    <article class="center">
        <div class="form-wrapper">
            <header>
                <h1>Edit application</h1>
            </header>
            <div class="sub-wrapper">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Id)
                <p class="required">
                    @Html.LabelFor(m => m.Name)<br> 
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(m => m.Description)<br> 
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "error" })
                </p>
                <p class="required">
                    @Html.LabelFor(m => m.Type)<br> 
                    @Html.DropDownListFor(m => m.Type, Model.Types)
                    @Html.ValidationMessageFor(m => m.Type, null, new { @class = "error" })
                </p>
                <p>
                    <img src="@Model.IconPath" /><label>Icon</label><br> 
                    <input type="file" name="icon_file" />
                    @Html.ValidationMessage("Icon", null, new { @class = "error" })
                </p>
                <p>
                    @if (Model.ScreensPathes.Count() > 0)
                    {
                        <img src="@Model.ScreensPathes.ElementAt(0)" />
                    }
                    <label>Screen shot 1</label><br>
                    <input type="file" name="screen_file_1" />
                </p>
                <p>
                    @if (Model.ScreensPathes.Count() > 1)
                    {
                        <img src="@Model.ScreensPathes.ElementAt(1)" />
                    }
                    <label>Screen shot 2</label><br> 
                    <input type="file" name="screen_file_2" />
                </p>
                <p>
                    @if (Model.ScreensPathes.Count() > 2)
                    {
                        <img src="@Model.ScreensPathes.ElementAt(2)" />
                    }
                    <label>Screen shot 3</label><br> 
                    <input type="file" name="screen_file_3" />
                </p>
                <p>
                    @if (Model.ScreensPathes.Count() > 3)
                    {
                        <img src="@Model.ScreensPathes.ElementAt(3)" />
                    }
                    <label>Screen shot 4</label><br> 
                    <input type="file" name="screen_file_4" />
                </p>
                <p>
                    @if (Model.ScreensPathes.Count() > 4)
                    {
                        <img src="@Model.ScreensPathes.ElementAt(4)" />
                    }
                    <label>Screen shot 5</label><br> 
                    <input type="file" name="screen_file_5" />
                </p>
                <h3>Package</h3>
                <p>
                    <label>APK</label>
                    @if (Model.Package != null)
                    {
                        <span>&nbsp;&nbsp;&nbsp;</span><a href="@Model.Package.Url">@Model.Package.FileName</a>
                    }
                    <br> 
                    <input type="file" name="package_file" />
                    @Html.ValidationMessage("Package", new { @class = "error" })
                </p>
                <p>
                    <a href="/Application/1/screen/">Screens</a>
                </p>
                <p class="actions">
                    @Html.ValidationMessage("error", new { @class = "error" })
                    <button type="submit" value="Save" class="green-btn">Save</button>
                    <a href="/Application">Cancel</a>
                </p>
            }
            </div>
        </div>
    </article>
</div>



