@using AppReadyGo.Helpers;
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@using AppReadyGo.Model.Pages.Portfolio
@model ApplicationIndexModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Application }
@section header 
{
    <script src="@Html.Content("~/Scripts/table.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.app-link').click(function () {
                var parent = $(this).parent();
                var appId = parent.is('tr') ? parent.attr('appId') : parent.parent().attr('appid');
                document.location.href = '/Analytics/Dashboard/?aid=' + appId;
            });
        });
    </script>
}
<div class="content-wrapper" id="app_page">
<div class="a-r top-panel">
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column column-active'>Most Active Applications</th>
		</tr>
		</thead>
        <tbody>
        @if (Model.TopApplications.Any())
        {
            foreach (var item in Model.TopApplications)
            {
                <tr class="@(item.IsAlternative ? "" : "alternate")"><td><a href="/Analytics/Dashboard/?aid=@(item.Id)">@item.Description</a></td></tr>
            }
        }
        else
        {
            <tr class="no-items"><td class="colspanchange">No applications.</td></tr>
        }
        </tbody>
    </table>
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column column-active'>Most Active Screens</th>
		</tr>
		</thead>
        <tbody>
        @if (Model.TopScreens.Any())
        {
            foreach (var item in Model.TopScreens)
            { 
                <tr class="@(item.IsAlternative ? "" : "alternate")"><td><a href="/Analytics/Dashboard/?aid=@(item.ApplicationId)&ss=@(item.ScreenSize)&p=@(item.Path)">@item.Path: @item.ScreenSize</a></td></tr>
            }
        }
        else
        {
            <tr class="no-items"><td class="colspanchange">No screens.</td></tr>
        }
        </tbody>
    </table>
</div>
<div class="wrap">
    <div class="a-l actions">
        Tasks <a href="/Application/Publish/" class="link2"><span><span>+ Add Task</span></span></a>
    </div>
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column'>Description</th>
			<th scope='col' class='manage-column'>Application</th>
			<th scope='col' class='manage-column'>Target</th>
			<th scope='col' class='manage-column'>Installs</th>
			<th scope='col' class='manage-column'>Started</th>
			<th scope='col' class='manage-column'>Status</th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<th scope='col' class='manage-column'>Description</th>
			<th scope='col' class='manage-column'>Application</th>
			<th scope='col' class='manage-column'>Target</th>
			<th scope='col' class='manage-column'>Installs</th>
			<th scope='col' class='manage-column'>Started</th>
			<th scope='col' class='manage-column'>Status</th>
		</tr>
		</tfoot>
		<tbody>
        @if (Model.Publishes.Any())
        {
            foreach (var task in Model.Publishes)
            {	
		        <tr class="portf @(task.Alternate ? "" : "alt")">
			        <td>@task.Description</td>
                    <td>@task.ApplicaionName</td>
			        <td>@task.Target</td>
                    <td> @task.Installs</td>
			        <td>@task.Published</td>
			        <td>@task.Status</td>
		        </tr>
            }
        }
        else
        {
          <tr class="no-items"><td colspan="4" class="colspanchange">No tasks</td></tr>
        }
		</tbody>
	</table>
</div><!-- /wrap -->

<br class="clear" />
</div>
