@using AppReadyGo.Helpers;
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@model AppReadyGo.Web.Model.Pages.Application.ApplicationIndexModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Dashboard }
@section header
{
    <script src="@Url.Content("~/Scripts/application.index.js")" type="text/javascript"></script>
}
<div class="content-wrapper" id="dashboard_page">
    <div class="l-panel">
        <div class="head">
            <h3>Tasks</h3> <a href="/Task/New/" class="green-btn">+ Add Task</a>
        </div>
	    <table class="tbl" cellspacing="0">
		    <thead>
		    <tr>
			    <th>Description</th>
			    <th>Application</th>
			    <th>Target</th>
			    <th>Installs</th>
			    <th>Started</th>
			    <th>Status</th>
		    </tr>
		    </thead>
		    <tfoot>
		    <tr>
			    <th>Description</th>
			    <th>Application</th>
			    <th>Target</th>
			    <th>Installs</th>
			    <th>Started</th>
			    <th>Status</th>
		    </tr>
		    </tfoot>
		    <tbody>
            @if (Model.Tasks.Any())
            {
                foreach (var task in Model.Tasks)
                {	
		            <tr class="portf @(task.IsAlternative ? "" : "alt")" taskid="@task.Id">
			            <td>
                            <span class="lnk-analytics">@task.Description</span>
                            <br />
			                <div class="row-actions">
                                <span><a href="/Task/Edit/@task.Id">Edit</a> | </span>
                                @if (task.WasPublished)
                                {
				                    <span><a href="/Task/UnPublish/@task.Id">Unpublish</a></span>
                                }
                                else
                                {
				                    <span><a href="/Task/Publish/@task.Id">Publish</a></span>
                                }
			                </div>          
			            </td>
                        <td><a href="/Application/Details/@task.ApplicationId">@task.ApplicaionName</a></td>
			            <td class="lnk-analytics">@task.Target</td>
                        <td class="lnk-analytics">@task.Installs</td>
			            <td class="lnk-analytics">@task.Published</td>
			            <td class="lnk-analytics">@task.Status</td>
		            </tr>
                }
            }
            else
            {
              <tr><td colspan="4">No tasks</td></tr>
            }
		    </tbody>
	    </table>
    </div><!-- /wrap -->
    <div class="r-panel">
        <div class="head">
            <h3>Applications</h3> <a href="/Application/New/" class="green-btn">+ Upload Application</a>
        </div>
	    <table class="tbl" cellspacing="0">
		    <thead>
		    <tr>
			    <th>Most Active Applications</th>
		    </tr>
		    </thead>
            <tbody>
            @if (Model.Applications.Any())
            {
                foreach (var item in Model.Applications)
                {
                    <tr class="@(item.IsAlternative ? "" : "alternate")"><td><a href="/Application/Edit/@item.Id">@item.Name</a></td></tr>
                }
            }
            else
            {
                <tr><td>No applications.</td></tr>
            }
            </tbody>
        </table>
    </div>
    <br class="clear" />
</div>
