@using AppReadyGo.Helpers;
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@model AppReadyGo.Web.Model.Pages.Application.ApplicationIndexModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Dashboard }
<div class="content-wrapper" id="dashboard_page">
    <div class="l-panel">
        <div class="head">
            <h3>Tasks</h3> <a href="/Task/New/" class="green-btn">+ Add Task</a>
        </div>
	    <table class="tbl" cellspacing="0">
		    <thead>
		    <tr>
			    <th>Description</th>
			    <th>Application</th>
			    <th>Target</th>
			    <th>Installs</th>
			    <th>Started</th>
			    <th>Status</th>
		    </tr>
		    </thead>
		    <tfoot>
		    <tr>
			    <th>Description</th>
			    <th>Application</th>
			    <th>Target</th>
			    <th>Installs</th>
			    <th>Started</th>
			    <th>Status</th>
		    </tr>
		    </tfoot>
		    <tbody>
            @if (Model.Tasks.Any())
            {
                foreach (var task in Model.Tasks)
                {	
		            <tr class="portf @(task.IsAlternative ? "" : "alt")">
			            <td>@task.Description</td>
                        <td>@task.ApplicaionName</td>
			            <td>@task.Target</td>
                        <td>@task.Installs</td>
			            <td>@task.Published</td>
			            <td>@task.Status</td>
		            </tr>
                }
            }
            else
            {
              <tr><td colspan="4">No tasks</td></tr>
            }
		    </tbody>
	    </table>
    </div><!-- /wrap -->
    <div class="r-panel">
        <div class="head">
            <h3>Applications</h3> <a href="/Application/New/" class="green-btn">+ Upload Application</a>
        </div>
	    <table class="tbl" cellspacing="0">
		    <thead>
		    <tr>
			    <th>Most Active Applications</th>
		    </tr>
		    </thead>
            <tbody>
            @if (Model.Applications.Any())
            {
                foreach (var item in Model.Applications)
                {
                    <tr class="@(item.IsAlternative ? "" : "alternate")"><td><a href="/Analytics/Dashboard/?aid=@(item.Id)">@item.Name</a></td></tr>
                }
            }
            else
            {
                <tr><td>No applications.</td></tr>
            }
            </tbody>
        </table>
    </div>
    <br class="clear" />
</div>
