@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Pages.Application;
@model ApplicationModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { Create Application }
@section header { }
<div class="crumb">
    <div class="border-right">
		<div class="border-left">
			<div class="inner">
                <ul>
		           <li><a href="/Application"><h4>Applications</h4></a></li>
		           <li><h4>New Application</h4></li>
		        </ul>
			</div>
		</div>
    </div>
</div>
<div style="clear:both;"></div>
<div class="content-wrapper">
    <article class="center">
        <div class="form-wrapper">
            <header>
                <h1>Add application</h1>
            </header>
            <div class="sub-wrapper">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <p class="required">
                    @Html.LabelFor(m => m.Name)<br> 
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(m => m.Description)<br> 
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "error" })
                </p>
                <p class="required">
                    @Html.LabelFor(m => m.Type)<br> 
                    @Html.DropDownListFor(m => m.Type, Model.Types)
                    @Html.ValidationMessageFor(m => m.Type, null, new { @class = "error" })
                </p>
                <p>
                    <label>Icon</label><br> 
                    <input type="file" name="icon_file" />
                    @Html.ValidationMessage("Icon", null, new { @class = "error" })
                </p>
                <h3>App store screenshots</h3>
                <p>
                    <label>Screen shot 1</label><br> 
                    <input type="file" name="screen_file_1" />
                </p>
                <p>
                    <label>Screen shot 2</label><br> 
                    <input type="file" name="screen_file_2" />
                </p>
                <p>
                    <label>Screen shot 3</label><br> 
                    <input type="file" name="screen_file_3" />
                </p>
                <p>
                    <label>Screen shot 4</label><br> 
                    <input type="file" name="screen_file_4" />
                </p>
                <p>
                    <label>Screen shot 5</label><br> 
                    <input type="file" name="screen_file_5" />
                </p>
                <h3>Package</h3>
                <p>
                    <label>APK</label><br />
                    <input type="file" name="package_file" />
                    @Html.ValidationMessage("Package", new { @class = "error" })
                </p>
                <p class="actions">
                    @Html.ValidationMessage("error", new { @class = "error" })
                    <input type="submit" value="Save" class="button green medium"/>
                    <a href="/Application">Cancel</a>
                </p>
            }
            </div>
        </div>
    </article>
</div>

