@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@model AppReadyGo.Web.Model.Pages.Analytics.AnalyticsModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { @RenderSection("title") }
@section header 
{ 
    <!-- jquery-ui -->
    <script src="@Html.Content("~/ThridParty/jquery-ui-1.10.2/js/jquery-ui-1.10.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Html.Content("~/ThridParty/jquery-ui-1.10.2/css/trontastic/jquery-ui-1.10.2.custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- selectBoxIt -->
    <script src="@Html.Content("~/ThridParty/selectBoxIt-3.4.0/jquery.selectBoxIt.min.js")" type="text/javascript"></script>
    <link href="@Html.Content("~/ThridParty/selectBoxIt-3.4.0/jquery.selectBoxIt.css")" rel="stylesheet" type="text/css" />

    <link href="@Html.Content("~/Content/tmp/analytics.master.css")" rel="stylesheet" type="text/css" />
    @RenderSection("header")
}
<aside>
    <section>
        <header>Application Details</header>
        <article>
            <p><label>Title:</label>@Model.ApplicationName</p>
            @*<p><label>Size:</label></p>*@
            <p><label>Type:</label>@Model.ApplicationType</p>
            <p><label>Content:</label>@Model.ApplicationContent</p>
        </article>
    </section>
    <section>
        <header>Task Details</header>
        <article>
            <p>@Model.TaskInfo.Description</p>
            <p><label>Audience:</label>@Model.TaskInfo.Audence</p>
            <p><label>Target:</label>>@Model.TaskInfo.Target</p>
            <p><label>Published:</label>>@Model.TaskInfo.Published</p>
            <p><label>Status:</label>@Model.TaskInfo.Status</p>
        </article>
    </section>
    <section>
        <header>Pathes</header>
        <article>
            @foreach (var p in Model.Pathes)
            {
                <p><a href="@p">@p</a></p>
            }
        </article>
    </section>
</aside>
<section>
    <header><span class="sel">Analytics</span>@*<span>Reviews</span><span>Tips</span>*@</header>
    <article>@RenderBody()</article>
</section>
<section>
    <header>Screens</header>
    <article>
        @foreach(var screen in Model.ScreenList)
        {
            <img src="@screen.Value" />
        }
    </article>
</section>
