@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@model AfterLoginMasterModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { @RenderSection("title") }
@section header 
{ 
    @RenderSection("header")
}
<div class="left-panel">
    <div class="left-menu">
        @RenderSection("leftMenu")
    </div>
    <div class="footer">
        <span>Copyright &#64; 2011 @(DateTime.Today.Year > 2011 ? (" - " + DateTime.Today.Year) : "") <a href="http://www.mobillify.mobi" target="_blank">Mobillify</a></span>
    </div>
</div>
<div class="right-panel">
    @RenderBody()
</div>
