@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@model AfterLoginMasterModel
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section title { @RenderSection("title") }
@section header 
{ 
   <link rel="stylesheet" href="@Html.Content("~/Content/afterlogin.css")" type="text/css" media="all">
   @RenderSection("header")
}
<div class="tail-top">
<!-- header -->
	<header>
		<div class="container">
			<div class="header-box">
				<div class="left">
					<div class="right">
						<nav>
							<ul>
                                <li @Model.AnalyticsCssClassAttribute><a href="/">Analytics</a></li>
                                @*<li @Model.MyAccountCssClassAttribute><a href="/">My Account</a></li>*@
                                <li @Model.TutorialsCssClassAttribute><a href="/p/getstarted">Get Started</a></li>
                                <li @Model.ProductsCssClassAttribute><a href="/p/products">Products</a></li>
                                <li @Model.PlanAndPricingCssClassAttribute><a href="/p/planandpricing">Plans and Pricing</a></li>
                                @*<li @Model.ContactsCssClassAttribute><a href="/Contacts">Contacts</a></li>*@
                                @if(Model.IsAdmin)
                                {
                                    <li @Model.AdministratorCssClassAttribute><a href="/Admin">Administrator</a></li>
                                }
							</ul>
						</nav>
                        <img class="logo" src="/Content/images/Logo173X38.png"" alt="AppReadyGo" />
					</div>
				</div>
			</div>
            <div class="user-info">
			<form action="/Account/LogOff">
                <a href="/Account/ChangePassword">Change password</a><br/><a href="#" onClick="$(this).closest('form').submit();">Logout</a>
			</form>
            <h2>Welcome! &nbsp;@Model.CurrentUserDisplayName</h2>
            </div>
		</div>
	</header>
    <div class="main-content">
        @RenderBody()
    </div>
</div>