@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@using AppReadyGo.Helpers;
@model BeforeLoginMasterModel
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section title { @RenderSection("title") }
@section header 
{ 
   <link rel="stylesheet" href="@Html.Content("~/Content/beforelogin.css")" type="text/css" media="all">
   @RenderSection("header")
}
<header>
    <div class="content-wrapper">
        <a class="logo" href="/"><img src="/content/images/Logo173X38.png"" /></a>
        <form id="login" action="/Account/LogOn" method="post">
            <ul>
                <li><input type="email" name="UserName" maxlength="100" /></li>
                <li><input type="password" name="Password" maxlength="100" /></li>
                <li><input type="submit" value="Log in" class="button yellow" id="btn_login"/></li>
            </ul>
            <span class="links">@Html.ActionLink("Forgot Password?", "ForgotPassword", "Account") | @Html.ActionLink("Register", "Register", "Account")</span>
        </form><!-- /#login --> 
        <nav>
            <ul>
                <li class="@Model.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.Home)"><a href="/">Home</a></li>
                <li class="@Model.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.HowItWorks)"><a href="/p/HowItWorks">How it Works</a></li>
                <li class="@Model.GetMenuItemClass(BeforeLoginMasterModel.MenuItem.Products)"><a href="/p/Features">Features</a></li>
            </ul>
        </nav>
    </div>
</header>
@RenderBody()
@*<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style " style="position:absolute; top:20px;left:5px;width:300px;">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fc7cd9c2af8afd3"></script>
<!-- AddThis Button END -->*@