@using AppReadyGo.Core.Entities;
@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Master;
@model MainMasterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AppReadyGo - @RenderSection("title")</title>
    @*<meta name="description" content="Place your description here">*@
    @*<meta name="keywords" content="put, your, keyword, here">*@
    <meta name="author" content="AppDryRun">
    <meta charset="utf-8">
    <link rel="stylesheet" href="@Html.Content("~/Content/tmp/css/reset.css")" type="text/css" media="all">
    <link rel="stylesheet" href="@Html.Content("~/Content/tmp/css/layout.css")" type="text/css" media="all">
    <link rel="stylesheet" href="@Html.Content("~/Content/tmp/css/style.css")" type="text/css" media="all">
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/maxheight.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/cufon-yui.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/cufon-replace.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/Scripts/ThridParty/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/Myriad_Pro_300.font.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/Myriad_Pro_400.font.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/jquery.faded.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/jquery.jqtransform.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/script.js")%>"></script>
    <script type="text/javascript" src="@Html.Content("~/scripts/tmp/js/global.js")%>"></script>
    @RenderSection("header")
    <!--script type="text/javascript">
    var _mfyaq = _mfyaq || {};
    _mfyaq.key = 'WP-0002-000019';

    (function () {
        var mfyaq = document.createElement('script'); mfyaq.type = 'text/javascript'; mfyaq.async = true;
        mfyaq.src = ('https:' == document.location.protocol ? 'https://ssl' : ('//www' == document.location ? 'http://www' : 'http://'))
        mfyaq.src += 'localhost:1059/Analytics/analytics.js';
        var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(mfyaq, scr);
    })();
    </script-->
    </head>
<body id="page1" onLoad="new ElementMaxHeight();">
@RenderBody()
<!-- aside -->
<footer>
    <div class="content-wrapper">
    <div id="copyright">
        <img src="/content/images/Logo173X38.png"" />
        <p>Copyright &#169; 2011@(DateTime.Today.Year > 2011 ? (" - " + DateTime.Today.Year) : "") AppReadyGo</p>
    </div>
    <nav>
        <!--ul>
            <li>
				<a href="http://twitter.com/appreadygo" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="http://www.youtube.com/user/TheMobillify" target="_blank">Youtube</a>
            </li>
			<li>
                <a href="http://www.facebook.com/Mobillify" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="http://www.linkedin.com/company/2531757?trk=pro_other_cmpy" target="_blank">LinkedIn</a>
            </li>
			<li>
                <a href="http://angel.co/mobillify" target="_blank">Angellist</a>
            </li>
        </ul-->
    </nav>
    </div>
</footer>
<div style="clear:both;"></div>
</body>
</html>