@using AppReadyGo.Helpers;
@model AppReadyGo.Web.Model.Pages.Analytics.ScreenModel
@{
    Layout = "~/Views/Analytics/_Analytics.cshtml";
}
@section title { Task Analytics }
@section header 
{
    <script type="text/javascript">
        $(document).ready(function () {
            var btns = $('.analytics header span');
            var imgs = $('.analytics img');
            btns.click(function () {
                btns.removeClass('sel');
                imgs.removeClass('sel');
                $(this).addClass('sel');
                $(imgs[$(this).index()]).addClass('sel');
            });
        });
    </script>
}
<section class="analytics">
    <header>
        <span class="sel">TouchMap</span><span>EyeTrack</span>@if(Model.ScreenId.HasValue){<span>Original</span>}
    </header>
    <article class="images">
        <img class="sel" id="touch_map" width="320" src="/Analytics/@Model.TaskInfo.Id/TouchMap/@Model.UrlPart" />
        <img id="eye_track" width="320" src="/Analytics/@Model.TaskInfo.Id/EyeTrack/@Model.UrlPart" />
        @if(Model.ScreenId.HasValue)
        {
            <img id="original" width="320" src="/Analytics/Original/@Model.ScreenId" />
        }
    </article>
</section>
<section>
    <header>Overview</header>
    <article>
        <p><label>Views:</label> @Model.Views</p>
        <p><label>Different Devices:</label> @Model.Devices</p>
        <p><label>Average Duration:</label> @Model.AvgDuration</p>
        <p><label>Average Clicks per View:</label> @Model.AvgClicks</p>
        <p><label>Average Scrolls per View:</label> @Model.AvgScrolls</p>
    </article>
</section>
<section>
    <header>Buttons And Links</header>
    <article>
        @foreach(var lnk in Model.Links)
        {
            <p><label>@lnk.Title</label> @lnk.Clicks @lnk.Percents</p>
        }
    </article>
</section>




