@using AppReadyGo.Web.Model.Pages.Admin
@model ApplicationsPagingModel
@{
    Layout = "~/Views/Admin/_Admin.cshtml";
}
@section title { Applications }
@section header 
{
}
@section topMenu { }
<div class="wrap">
	<h2>Applications</h2>
	<div class="t-nav">
        <div class="a-l search-box">
			<input type="search" id="search-input" name="s" value="@Model.SearchStr" />
            <a class="link2" onclick="javascript: document.location.href = '/Admin/Applications?cp=1&srch=' + escape($('#search-input').val());"><span><span>Search</span></span></a>
		</div>
		<div class='t-nav-pages @(Model.IsOnePage ? "one-page" : "")'>
			<span class="d-num">@Model.Count items</span>
			<span class='pagination-links'>
				<a class='first-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the first page' href='/Admin/Applications?cp=1@Model.UrlPart'>&laquo;</a>
				<a class='prev-page @(Model.PreviousPage.HasValue ? "" : "disabled")' title='Go to the previous page' href='/Admin/Applications?cp=@(Model.PreviousPage.HasValue ? Model.PreviousPage.Value : 1)@Model.UrlPart'>&lsaquo;</a>
				<span class="paging-input">
					<input class='cur-p' title='Current page' type='text' name='paged' value='@Model.CurPage' size='1' /> of <span class='total-pages'>@Model.TotalPages</span>
				</span>
				<a class='next-page @(Model.NextPage.HasValue ? "" : "disabled")' title='Go to the next page' href='/Admin/Applications?cp=@(Model.NextPage.HasValue ? Model.NextPage.Value : Model.TotalPages)@Model.UrlPart'>&rsaquo;</a>
				<a class='last-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the last page' href='/Admin/Applications?cp=@Model.TotalPages@Model.UrlPart'>&raquo;</a>
			</span>
		</div>
	</div><!-- /table-head -->
	<table class="tbl fixed" cellspacing="0">
		<thead>
		<tr>
			<th scope='col' class='manage-column column-username sortable'><a href="/Admin/Applications?cp=1&orderby=email&order=@(Model.NameOrder + Model.SearchStrUrlPart)"><span>Name</span><span class="sorting-indicator"></span></a></th>
			<th scope='col' class='manage-column column-name sortable'><a href="/Admin/Applications?cp=1&orderby=name&order=@(Model.TypeOrder + Model.SearchStrUrlPart)"><span>Type</span><span class="sorting-indicator"></span></a></th>
			<th scope='col' class='manage-column column-activated'>Package</th>
			<th scope='col' class='manage-column column-special-access'>Published</th>
			<th scope='col' class='manage-column column-last-access'>Downloaded</th>	
			<th scope='col' class='manage-column column-last-access'>Screens</th>	
			<th scope='col' class='manage-column column-last-access'>Screenshots</th>	
			<th scope='col' class='manage-column column-last-access'>Visits</th>	
			<th scope='col' class='manage-column column-last-access'>Owner</th>	
			<th scope='col' class='manage-column column-registred sortable'><a href="/Admin/Applications?cp=1&orderby=createdate&order=@(Model.CreateDateOrder + Model.SearchStrUrlPart)"><span>Create Date</span><span class="sorting-indicator"></span></a></th>	
		</tr>
		</thead>
		<tfoot>
		<tr>
			<th scope='col' class='manage-column column-email sortable'><a href="/Admin/Applications?cp=1&orderby=email&order=@(Model.NameOrder + Model.SearchStrUrlPart)"><span>Name</span><span class="sorting-indicator"></span></a></th>
			<th scope='col' class='manage-column column-name sortable'><a href="/Admin/Applications?cp=1&orderby=name&order=@(Model.TypeOrder + Model.SearchStrUrlPart)"><span>Type</span><span class="sorting-indicator"></span></a></th>
			<th scope='col' class='manage-column column-activated'>Package</th>
			<th scope='col' class='manage-column column-special-access'>Published</th>
			<th scope='col' class='manage-column column-last-access'>Downloaded</th>	
			<th scope='col' class='manage-column column-last-access'>Screens</th>	
			<th scope='col' class='manage-column column-last-access'>Screenshots</th>	
			<th scope='col' class='manage-column column-last-access'>Visits</th>	
			<th scope='col' class='manage-column column-last-access'>Owner</th>	
			<th scope='col' class='manage-column column-registred sortable'><a href="/Admin/Applications?cp=1&orderby=createdate&order=@(Model.CreateDateOrder + Model.SearchStrUrlPart)"><span>Create Date</span><span class="sorting-indicator"></span></a></th>	
		</tr>
		</tfoot>
		<tbody id="the-list" class='list:user'>
        @if (Model.Applications.Any())
        {
            foreach (var app in Model.Applications)
              {	
		            <tr id='user-@app.Id' class="@(app.IsAlternative ? "" : "alternate")">
			            <td class="email column-email">
				            <strong title="@app.Description">@app.Name</strong>
				            <br />
				            <div class="row-actions">
					            <span class='delete'><a class='submitdelete' href='/Admin/DeleteApplication/@app.Id' onclick="javascript:return confirm('Are you realy want to remove @app.Name application? The operation is not recoverable!');">Delete</a></span>
				            </div>
			            </td>
			            <td class="name column-name">@app.Type</td>
			            <td>@app.PackageFileName</td>
                        <td>@(app.Published ? "Yes" : "No")</td>
                        <td>@app.Downloaded</td>
                        <td>@app.Screens</td>
                        <td>@app.Screenshots</td>
                        <td>@app.Visits</td>
                        <td>@app.UserEmail</td>
			            <td class="role column-registred">@app.CreateDate</td>
		            </tr>
                } 
              }
              else
              {
                <tr class="no-items"><td colspan="6" class="colspanchange">No matching members were found.</td></tr>
              }
		</tbody>
	</table>
	<div class="t-nav bottom">
		<div class='t-nav-pages @(Model.IsOnePage ? "one-page" : "")'>
			<span class="d-num">@Model.Count items</span>
			<span class='pagination-links'>
				<a class='first-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the first page' href='/Admin/Applications?cp=1@Model.UrlPart'>&laquo;</a>
				<a class='prev-page @(Model.PreviousPage.HasValue ? "" : "disabled")' title='Go to the previous page' href='/Admin/Applications?cp=@(Model.PreviousPage.HasValue ? Model.PreviousPage.Value : 1)@Model.UrlPart'>&lsaquo;</a>
				<span class="paging-input">
					<input class='cur-p' title='Current page' type='text' name='paged' value='@Model.CurPage' size='1' /> of <span class='total-pages'>@Model.TotalPages</span>
				</span>
				<a class='next-page @(Model.NextPage.HasValue ? "" : "disabled")' title='Go to the next page' href='/Admin/Applications?cp=@(Model.NextPage.HasValue ? Model.NextPage.Value : Model.TotalPages)@Model.UrlPart'>&rsaquo;</a>
				<a class='last-page @(Model.IsOnePage ? "disabled" : "")' title='Go to the last page' href='/Admin/Applications?cp=@Model.TotalPages@Model.UrlPart'>&raquo;</a>
			</span>
		</div>
		<br class="clear" />
	</div>
</div><!-- /wrap -->
<br class="clear" />



