@model AppReadyGo.Web.Model.Pages.Admin.ContentItemModel
@{
    Layout = "~/Views/Admin/_Content.cshtml";
}
@section title { Content Items }
<div class="crumb">
    <div class="border-right">
		<div class="border-left">
			<div class="inner">
                <ul>
                   <li><a href="/Admin/ContentManager"><h4>Content manager</h4></a></li>
                    @if(@Model.ItemType == 1)
                    {
		                <li><a href="/Admin/ContentItems"><h4>Keys</h4></a></li>
                    }
                    else if(@Model.ItemType == 2)
                    {
		                <li><a href="/Admin/ContentPages"><h4>Pages</h4></a></li>
                    }
                    else if(@Model.ItemType == 2)
                    {
		                <li><a href="/Admin/ContentMails"><h4>Mails</h4></a></li>
                    }
                   <li>items for "@Model.KeyUrl"</li>
		        </ul>
			</div>
		</div>
    </div>
</div>
<div class="t-nav">
    <div class="a-l search-box">
		<input type="search" id="search-input" name="s" value="@Model.Paging.SearchStr" />
        <a class="link2" onclick="javascript: document.location.href = '/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&srch=' + escape($('#search-input').val());"><span><span>Search</span></span></a>
	</div>
	<div class='t-nav-pages @(Model.Paging.IsOnePage ? "one-page" : "")'>
		<span class="d-num">@Model.Paging.Count items</span>
		<span class='pagination-links'>
			<a class='first-page @(Model.Paging.IsOnePage ? "disabled" : "")' title='Go to the first page' href='/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1@Model.View.UrlPart'>&laquo;</a>
			<a class='prev-page @(Model.Paging.PreviousPage.HasValue ? "" : "disabled")' title='Go to the previous page' href='/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=@(Model.Paging.PreviousPage.HasValue ? Model.Paging.PreviousPage.Value : 1)@Model.Paging.UrlPart'>&lsaquo;</a>
			<span class="paging-input">
				<input class='cur-p' title='Current page' type='text' name='paged' value='@Model.Paging.CurPage %>' size='1' /> of <span class='total-pages'>@Model.Paging.TotalPages</span>
			</span>
			<a class='next-page @(Model.Paging.NextPage.HasValue ? "" : "disabled")' title='Go to the next page' href='/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=@(Model.Paging.NextPage.HasValue ? Model.Paging.NextPage.Value : Model.Paging.TotalPages)@Model.Paging.UrlPart'>&rsaquo;</a>
			<a class='last-page @(Model.Paging.IsOnePage ? "disabled" : "")' title='Go to the last page' href='/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=@Model.Paging.TotalPages@Model.Paging.UrlPart'>&raquo;</a>
		</span>
	</div>
</div><!-- /table-head -->
<table class="tbl fixed" cellspacing="0">
	<thead>
	<tr>
		<th scope='col' id='id' class='manage-column column-id sortable'><a href="/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&orderby=id&order=@(Model.IdOrder + Model.SearchStrUrlPart)"><span>Id</span><span class="sorting-indicator"></span></a></th>
		<th scope='col' id='subkey' class='manage-column column-subkey sortable'><a href="/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&orderby=subkey&order=@(Model.SubKeyOrder + Model.SearchStrUrlPart)"><span>Key</span><span class="sorting-indicator"></span></a></th>
		<th scope='col' id='ishtml' class='manage-column column-ishtml sortable'><a href="/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&orderby=ishtml&order=@(Model.IsHtmlOrder + Model.SearchStrUrlPart)"><span>Is Html</span><span class="sorting-indicator"></span></a></th>
		<th scope='col' class='manage-column column-action'></th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th scope='col' class='manage-column column-id sortable'><a href="/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&orderby=id&order=@(Model.IdOrder + Model.SearchStrUrlPart)"><span>Id</span><span class="sorting-indicator"></span></a></th>
		<th scope='col' class='manage-column column-subkey sortable'><a href="/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&orderby=subkey&order=@(Model.SubKeyOrder + Model.SearchStrUrlPart)"><span>Key</span><span class="sorting-indicator"></span></a></th>
		<th scope='col' class='manage-column column-ishtml sortable'><a href="/Admin/ContentItem?id=@Model.KeyId&itemType=@Model.ItemType&cp=1&orderby=ishtml&order=@(Model.IsHtmlOrder + Model.SearchStrUrlPart)"><span>Is Html</span><span class="sorting-indicator"></span></a></th>
		<th scope='col' class='manage-column column-action'></th>
	</tr>
	</tfoot>
	<tbody id="the-list" class='list:user'>
    @if (Model.Items.Any())
    {
        foreach (var item in Model.Items)
        {	
            <tr class="@(item.IsAlternative ? "" : "alternate")">
		        <td class="column-id">@item.Id</td>
		        <td class="column-key">@item.SubKey</td>
		        <td class="column-ishtml">@item.IsHtml</td>
		        <td class="column-action"><a href="/Admin/EditContentItem/@item.Id?itemType=@Model.ItemType">Edit</a></td>
	        </tr>
        } 
    }
    else
    {
        <tr class="no-items"><td colspan="5" class="colspanchange">No matching items were found.</td></tr>
    }
	</tbody>
</table>



