@model AppReadyGo.API.Models.ResetPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title { Reset Password }
<header>
    <h1>Reset Password</h1>
    <h2>Use the form below to reset your password. <br />New passwords are required to be a minimum of 6 characters in length.</h2>
</header>
@using (Html.BeginForm(null, null, new { key = Model.Key }, FormMethod.Post, new { autocomplete = "off" }))
{
    <div data-role="fieldcontain">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "error" })
    </div>
    <div data-role="fieldcontain">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "error" })
        @Html.ValidationMessage("error", new { @class = "error" })
    </div>
    <input type="submit" value="Reset Password">
}

